c c RUN: %solver --mode 6 --rw 1 %s | %OutputCheck %s
p cnf 3 0
c t wmc
c rw_sop 3 8 0 0 1 0
c rw_edge 0 1
c rw_edge 1 2
c c CHECK: ^s SATISFIABLE$
c c CHECK: ^c s exact quadruple float 4.00000000e\+00 \+ 0.00000000e\+00i$
