c c RUN: %solver --mode 1 --rw 1 %s | %OutputCheck %s
p cnf 21 0
c t wmc
c rw_sop 21 8 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
c rw_edge 0 1
c rw_edge 0 2
c rw_edge 0 3
c rw_edge 0 4
c rw_edge 0 5
c rw_edge 0 6
c rw_edge 0 7
c rw_edge 0 8
c rw_edge 1 2
c rw_edge 1 3
c rw_edge 1 4
c rw_edge 1 5
c rw_edge 1 6
c rw_edge 1 7
c rw_edge 1 8
c rw_edge 2 3
c rw_edge 2 4
c rw_edge 2 5
c rw_edge 2 6
c rw_edge 2 7
c rw_edge 2 8
c rw_edge 3 4
c rw_edge 3 5
c rw_edge 3 9
c rw_edge 3 10
c rw_edge 3 11
c rw_edge 3 12
c rw_edge 3 13
c rw_edge 3 14
c rw_edge 4 5
c rw_edge 4 9
c rw_edge 4 10
c rw_edge 4 11
c rw_edge 4 12
c rw_edge 4 13
c rw_edge 4 14
c rw_edge 5 9
c rw_edge 5 10
c rw_edge 5 11
c rw_edge 5 12
c rw_edge 5 13
c rw_edge 5 14
c rw_edge 6 7
c rw_edge 6 8
c rw_edge 6 15
c rw_edge 6 16
c rw_edge 6 17
c rw_edge 6 18
c rw_edge 6 19
c rw_edge 6 20
c rw_edge 7 8
c rw_edge 7 15
c rw_edge 7 16
c rw_edge 7 17
c rw_edge 7 18
c rw_edge 7 19
c rw_edge 7 20
c rw_edge 8 15
c rw_edge 8 16
c rw_edge 8 17
c rw_edge 8 18
c rw_edge 8 19
c rw_edge 8 20
c rw_edge 9 10
c rw_edge 9 11
c rw_edge 10 11
c rw_edge 12 13
c rw_edge 12 14
c rw_edge 13 14
c rw_edge 15 16
c rw_edge 15 17
c rw_edge 16 17
c rw_edge 18 19
c rw_edge 18 20
c rw_edge 19 20
c c CHECK: ^s SATISFIABLE$
c c CHECK: ^c o exact quadruple float 0\.0*e\+00$
