c c RUN: %solver --mode 1 --rw 1 %s | %OutputCheck %s
p cnf 6 0
c t wmc
c rw_sop 6 8 0 0 1 0 1 0 1
c rw_edge 0 1
c rw_edge 1 2
c rw_edge 2 3
c rw_edge 3 4
c rw_edge 4 5
c c CHECK: ^s SATISFIABLE$
c c CHECK: ^c o exact quadruple float 8\.0*e\+00$
